<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Home</title>
</head>
<body>
    <!-- header -->
    <div id="header-main" class="main-section">
        <div class="container">
            <div class="header-txt-blk all-txt-blk">
                <div class="top-header">
                    <div class="empty-blk-01">

                    </div>
                    <div class="top-cell-us">
                        <div class="top-image-box">
                            <img src="images/Shah-Dental_03.png" alt="03">
                            <p>Call Us : <a href="tel:717-737-4337"> <span class="call-bold">717-737-4337</span></a></p>
                        </div>
                        <div class="top-txt-box">
                            <p>Gulshan-e-Iqbal Branch</p>
                            <p>Bahadurabad Branch</p>
                            <p>Branch</p>
                        </div>
                    </div>
                </div>
                <div class="nav-txt-blk">
                   <div class="logo-image-blk">
                    <img src="images/logo_03.png" alt="">
                   </div>
                   <div class="nav-bar-blk">
                    <div class="nav-link">
                        <a href="#">Our Mission</a>
                        <a href="#">Message</a>
                        <a href="#">Highlights</a>
                        <a href="#">Articles</a>
                        <a href="#">Gallery</a>
                        <a href="#">Services/Treatments</a>
                        <a href="#">Contact</a>
                        <a class="nav-btn-01" href="#">MAKE AN APPOINTMENT</a>
                    </div>
                   </div>
                </div>
                <div id="banner-block-01">
                <div class="banner-txt-blk">
                    <p class="p-01">Welcome To Shah Dental</p>
                    <h1>We Are <strong>Creating <br>Natural Beauty</strong> With <br> Extraordinary <span class="color-01"><strong>Smiles</strong></span></h1>
                    <p>Greetings and welcome to Shah Dental Clinic (Prof. Syed Shah<br>
                        Faisal & Associates). We are proud to serve the people of<br>
                        Karachi since 1998. </p>
                        <a href="#">Get Started <img src="images/Shah-Dental_10.jpg" alt=""></a>
                </div>
                <div class="follow-main">
                    <p>Follow Us</p><br>
                    <img src="images/Shah-Dental-0_03.png" alt=""><br><br>
                    <img src="images/Shah-Dental-0_07.png" alt=""><br>
                    <img src="images/Shah-Dental-0_10.png" alt=""><br>
                    <img src="images/Shah-Dental-0_12.png" alt="">
                </div>
            </div>
            </div>
        </div>
    </div>
    <!-- header -->

    <!-- body -->

    <div id="appointment-main" class="main-section">
        <div class="container">
            <div class="appoint-txt-blk all-txt-blk">
                <div class="appoint-inner-block">
                    <div class="appoint-img-box appointment">
                        <img src="images/Shah-Dental1_03.png" alt="">
                        <h3>APPOINTMENT</h3>
                        <p>Make an Appointment</p>
                    </div>
                    <div class="appoint-img-box Doctor">
                        <img src="images/Shah-Dental1_05.png" alt="">
                        <h3>FIND DOCTOR</h3>
                        <p>Find Your Doctor</p>
                    </div>
                    <div class="appoint-img-box Call">
                        <img src="images/Shah-Dental1_07.png" alt="">
                        <h3>CALL BACK</h3>
                        <p>Get Call Back</p>
                    </div>
                    <div class="appoint-img-box Directions">
                        <img src="images/Shah-Dental1_09.png" alt="">
                        <h3>DIRECTIONS</h3>
                        <p>Get Directions</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="branches-main" class="main-section">
        <div class="container">
            <div class="branches-txt-blk all-txt-blk">
                <div class="branch-heading">
                    <h2>Our Branches</h2>
                    <p>Online to know about our locations and ease yourself in finding us wherever you are</p>
                </div>
                <div class="address-detail">
                    <div class="dental-block">
                            <div class="clinic-img-box">
                                <div class="clinic-img-01">
                                    <img src="images/Shah-Dental5_17.png" alt="">
                                </div>
                                <div class="clinic-txt-01">
                                    <h3>Shah Dental Clinic</h3>
                                    <p>Gulshan-e-Iqbal, Karachi.</p>
                                </div>
                            </div>
                            <div class="clinic-img-box">
                                <div class="clinic-img-01">
                                    <img src="images/Shah-Dental5_20.png" alt="">
                                </div>
                                <div class="clinic-txt-01">
                                    <h3>Dental Art Clinic</h3>
                                    <p>Phase 6, DHA, Karachi</p>
                                </div>
                            </div>
                            <div class="clinic-img-box">
                                <div class="clinic-img-01">
                                    <img src="images/Shah-Dental5_26.png" alt="">
                                </div>
                                <div class="clinic-txt-01">
                                    <h3>Prof. Syed Shah Faisal <br>And Associates</h3>
                                    <p> Bahadurabad, Karachi.</p>
                                </div>
                            </div>
                            <div class="clinic-img-box">
                                <div class="clinic-img-01">
                                    <img src="images/Shah-Dental5_32.png" alt="">
                                </div>
                                <div class="clinic-txt-01">
                                    <h3>Shah Dental Clinic</h3>
                                    <p>Gulshan-e-Iqbal, Karachi.</p>
                                </div>
                            </div>
                    </div>
                    <div class="clinic-address">
                        <img class="botted-img" src="images/Shah-Dental6_03.png" alt="">
                        <h3>Shah Dental Clinic:</h3>
                        <div class="address-icon-blk">
                            <img src="images/Shah-Dental5_22.png" alt="">
                            <p><a href="#">Saima Heaven, Opp. New Dhora Jee Colony, Block-4, Gulshan-e-Iqbal, Karachi.</a></p>
                        </div>
                        <div class="address-icon-blk botted-border">
                            <img src="images/Shah-Dental5_28.png" alt="">
                            <p><a href="#">Tel: 021-34963440, 03323582940</a></p>
                        </div>
                        <div class="address-icon-blk">
                            <img src="images/Shah-Dental5_34.png" alt="">
                            <p><a href="#">Email : drsyedshah@hotmail.com</a></p>
                        </div>
                        <div class="map-img-box">
                            <div class="map-img-01">
                                <img src="images/Shah-Dental5_38.png" alt="">
                            </div>
                            <div class="map-txt-01">
                                <h3>Click Here to </h3>
                                <p>Download the map or Direction >></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- our team -->

    <div id="team-main" class="main-section">
        <div class="container">
            <div class="team-txt-blk all-txt-blk">
                <div class="branch-heading">
                    <h2>Meet the Team</h2>
                    <p>Dr. Shah Faisal & Associates takes pride in introducing its dynamic team of qualified experienced & professionally<br>
                        competent Dental Surgeon supported by well-trained chair side assistants, lab technicians & receptionist.</p>
                </div>
                <div class="team-card-block">
                    <div class="team-card-box">
                        <img src="images/Shah-Dental3_07.png" alt="">
                        <h3>Prof. Syed Shah Faisal</h3>
                        <a href="#">MAKE AN APPOINTMENT</a>
                        <p>View Profile | Ask Doctor</p>
                    </div>
                    <div class="team-card-box ahmed">
                        <img src="images/Shah-Dental3_12.png" alt="">
                        <h3>Dr. Sufyan Ahmed</h3>
                        <a href="#">MAKE AN APPOINTMENT</a>
                        <p>View Profile | Ask Doctor</p>
                    </div>
                    <div class="team-card-box rukhsar">
                        <img src="images/Shah-Dental3_14.png" alt="">
                        <h3>Dr. Rukhsar Shehryar</h3>
                        <a href="#">MAKE AN APPOINTMENT</a>
                        <p>View Profile | Ask Doctor</p>
                    </div>
                    <div class="team-card-box">
                        <img src="images/Shah-Dental3_09.png" alt="">
                        <h3>Dr. Ambreen Javed</h3>
                        <a href="#">MAKE AN APPOINTMENT</a>
                        <p>View Profile | Ask Doctor</p>
                    </div>
                </div>
                <div class="view-more">
                    <a class="team-view" href="#">VIEW MORE >></a>
                </div>
            </div>
        </div>
    </div>

    <!-- our team -->

    <!-- our services -->

    <div id="services-main" class="main-section">
        <div class="container">
            <div class="services-txt-blk all-txt-blk">
                <div class="branch-heading">
                    <h2>Our Services</h2>
                    <p class="p-02">Dr. Shah Faisal & Associates takes pride in introducing its dynamic team of qualified experienced & professionally<br>
                        competent Dental Surgeon supported by well-trained chair side assistants, lab technicians & receptionist.</p>
                </div>
                <div class="services-blocks">
                    <div class="services-box-blk">
                        <div class="ser-img-box">
                            <img src="images/Shah-Dental-card_1.png" alt="">
                        </div>
                        <div class="ser-txt-box">
                            <h3>Cosmetic Fillings & Restoration</h3>
                            <a href="#">VIEW MORE</a>
                        </div>
                    </div>
                    <div class="services-box-blk">
                        <div class="ser-img-box">
                            <img src="images/Shah-Dental-card_2.png" alt="">
                        </div>
                        <div class="ser-txt-box">
                            <h3>Root Canal Treatment</h3>
                            <a href="#">VIEW MORE</a>
                        </div>
                    </div>
                    <div class="services-box-blk">
                        <div class="ser-img-box">
                            <img src="images/Shah-Dental-card_3.png" alt="">
                        </div>
                        <div class="ser-txt-box">
                            <h3>Tooth Cleaning</h3>
                            <a href="#">VIEW MORE</a>
                        </div>
                    </div>
                    <div class="services-box-blk">
                        <div class="ser-img-box">
                            <img src="images/Shah-Dental-card_4.png" alt="">
                        </div>
                        <div class="ser-txt-box">
                            <h3>Orthodontics</h3>
                            <a href="#">VIEW MORE</a>
                        </div>
                    </div>
                </div>
                <div class="services-blocks">
                    <div class="services-box-blk">
                        <div class="ser-img-box">
                            <img src="images/Shah-Dental-card_5.png" alt="">
                        </div>
                        <div class="ser-txt-box">
                            <h3>Dental Implant</h3>
                            <a href="#">VIEW MORE</a>
                        </div>
                    </div>
                    <div class="services-box-blk">
                        <div class="ser-img-box">
                            <img src="images/Shah-Dental-card_6.png" alt="">
                        </div>
                        <div class="ser-txt-box">
                            <h3>Dental Surgeries</h3>
                            <a href="#">VIEW MORE</a>
                        </div>
                    </div>
                    <div class="services-box-blk">
                        <div class="ser-img-box">
                            <img src="images/Shah-Dental-card_7.png" alt="">
                        </div>
                        <div class="ser-txt-box">
                            <h3>Dentures</h3>
                            <a href="#">VIEW MORE</a>
                        </div>
                    </div>
                    <div class="services-box-blk">
                        <div class="ser-img-box">
                            <img src="images/Shah-Dental-card_8.png" alt="">
                        </div>
                        <div class="ser-txt-box">
                            <h3>Cosmetic  Dental Jewellery</h3>
                            <a href="#">VIEW MORE</a>
                        </div>
                    </div>
                </div>
                <div class="view-more">
                    <a class="team-view" href="#">LOAD MORE</a>
                </div>
            </div>
        </div>
    </div>

    <!-- our services -->

    <!-- patient -->

    <div id="patient-main" class="main-section">
        <div class="container">
            <div class="patient-txt-blk all-txt-blk">
                <div class="branch-heading">
                    <h2>Patient Services</h2>
                    <p>We believe that every visit for dental services should be a<br> great experience. </p>
                </div>
                <div class="tabs-button">
                    <a href="#">Emergencies</a>
                    <a href="#">Dental Procedures:</a>
                    <a href="#">First Visit:</a>
                    <a href="#">Patient Forms</a>

                </div>
            </div>
        </div>
    </div>

    <!-- patient -->

    <!-- record -->

    <div id="record-main" class="main-section">
        <div class="container">
            <div class="record-txt-blk all-txt-blk">
                <div class="record-block">
                    <div class="recorde-txt">
                        <h2>Dental Records</h2>
                        <p>Dr. Shah Faisal & Associates takes pride in introducing its dynamic team<br>
                            of qualified experienced & professionally competent Dental Surgeon supported<br>
                            by well-trained chair side assistants, lab technicians & receptionist.</p>
                            <div class="record-list">
                                <ul>
                                    <li> <img src="images/Shah-Dental-dot_05.png" alt=""> Visit History</li>
                                    <li> <img src="images/Shah-Dental-dot_05.png" alt=""> Medication History</li>
                                    <li> <img src="images/Shah-Dental-dot_05.png" alt=""> Payment Records</li>
                                    <li> <img src="images/Shah-Dental-dot_05.png" alt=""> Treatment Records</li>
                                    <li> <img src="images/Shah-Dental-dot_05.png" alt=""> Favourite Doctors</li>
                                    <li> <img src="images/Shah-Dental-dot_05.png" alt=""> Ask Doctors</li>
                                    <li> <img src="images/Shah-Dental-dot_05.png" alt=""> Health Topics</li>
                                    <li> <img src="images/Shah-Dental-dot_05.png" alt=""> Health Videos</li>
                                </ul>
                            </div>
                    </div>
                    <div class="record-img">
                        <img src="images/Shah-Dental-com_03.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- record -->

       <!-- record -->

       <div id="customer-main" class="main-section">
        <div class="container">
            <div class="record-txt-blk all-txt-blk">
                <div class="record-block">
                    <div class="recorde-txt">
                        <h2>What Our Customer Say</h2>
                        <img src="images/Shah-Dental-line_05.png" alt="">
                        <h3 class="red-heading">Read what other patient are saying about<br>
                            the dental implant service offered</h3>
                            <div class="slider-container-01">
                                <div class="product-slider">
                                  <div class="product-item"> 
                                    <p>We had a very pleasant experience with Dr. Meena and her staff. My daughter was very anxious about the appointment and any procedure, but Dr. Meena was very patient with her and spend a lot of time trying to calm her down, the staff was very helpful and kind and always available to help. Dr. Meena is very professional, she takes the time to explain what needs to be done and
                                        provides valuable advice , It's not easy to find a good dentist for your kids,
                                        I highly recommend Dr. Meena and her staff for kids and adults.</p>
                                  </div>
                                  <div class="product-item"> 
                                    <p>We had a very pleasant experience with Dr. Meena and her staff. My daughter was very anxious about the appointment and any procedure, but Dr. Meena was very patient with her and spend a lot of time trying to calm her down, the staff was very helpful and kind and always available to help. Dr. Meena is very professional, she takes the time to explain what needs to be done and
                                        provides valuable advice , It's not easy to find a good dentist for your kids,
                                        I highly recommend Dr. Meena and her staff for kids and adults.</p>
                                  </div>
                                  <div class="product-item"> 
                                    <p>We had a very pleasant experience with Dr. Meena and her staff. My daughter was very anxious about the appointment and any procedure, but Dr. Meena was very patient with her and spend a lot of time trying to calm her down, the staff was very helpful and kind and always available to help. Dr. Meena is very professional, she takes the time to explain what needs to be done and
                                        provides valuable advice , It's not easy to find a good dentist for your kids,
                                        I highly recommend Dr. Meena and her staff for kids and adults.</p>
                                  </div>
                                  <!-- Add more product items as needed -->
                                </div>
                            
                                <div class="slider-navigation">
                                  <div class="proprev" onclick="prevSlide()">❮</div>
                                  <div class="pronext" onclick="nextSlide()">❯</div>
                                </div>
                              </div>
                                            
                          
                    </div>
                    <div class="record-img">
                        <img src="images/Shah-Dental-say_05.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- record -->

    <!-- Articles -->

    <div id="article-main" class="main-section">
        <div class="container">
            <div class="services-txt-blk all-txt-blk">
                <div class="branch-heading">
                    <h2>Dr. Shah Articles</h2>
                    <p class="p-02">Online to know about our locations and ease yourself in finding us wherever you are.</p>
                </div>
                <div class="article-block">
                    <div class="articles article-01">
                        <div class="art-img-box">
                            <img src="images/Shah-Dental-art-1_32.png" alt="">
                        </div>
                        <div class="art-txt-box">
                            <h4>Children's Dental Care:</h4>
                            <h3>Four Steps to Getting ...</h3>
                            <p>A testimonial is an honest endorsement of your
                                product or service that usually comes from a
                                customer, colleague, or peer who has benefited
                                from or experienced success as a result of the
                                work you did for them.</p>
                                <a href="#">READ MORE >></a>
                        </div>
                    </div>
                    <div class="articles article-02">
                        <div class="article-root">
                            <div class="art-img-box">
                                <img src="images/Shah-Dental-art-1_35.png" alt="">
                            </div>
                            <div class="art-txt-box">
                                <h4>Root Canal Treatment,</h4>
                                <h3>How is it performed?</h3> 
                                    <a href="#">READ MORE >></a>
                            </div>
                        </div>
                        <div class="article-root">
                            <div class="art-img-box">
                                <img src="images/Shah-Dental-art_38.png" alt="">
                            </div>
                            <div class="art-txt-box">
                                <h4>What's the ideal age</h4>
                                <h3>Dental treatment?</h3> 
                                    <a href="#">READ MORE >></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Articles -->

    <!-- footer -->

    <div id="footer-main" class="main-section">
        <div class="container">
            <div class="footer-txt-blk all-txt-blk">
                <div class="footer-blocks">
                    <div class="footer-blk footer-blk-01">
                        <img src="images/logo_03.png" alt="">
                        <p>With Verber Family Dentistry, what you see is what you get. All of the photos that you 
                            see on our website are the real deal:
                             our team, our office, and our patients.
                              These photos capture us in our day-to-day work as
                               we strive to provide the best care for your smile!</p>
                        <h3>Follow Us :</h3>
                        <img src="images/Shah-Dental-line_40.png" alt="">  
                        <div class="soical-icon">
                            <img src="images/Shah-Dental-icon_53.png" alt="">
                            <img src="images/Shah-Dental-icon_55.png" alt="">
                            <img src="images/Shah-Dental-icon_58.png" alt="">
                        </div>     
                    </div>
                    <div class="footer-blk footer-blk-02">
                        <h3>Home</h3>
                        <img src="images/Shah-Dental-line_40.png" alt="">  
                        <div class="icon-list">
                            <a href="#">>>  <p>Dental Services</p></a>
                            <a href="#">>>  <p>For Parthners</p></a>
                            <a href="#">>>  <p>Directions</p></a>
                            <a href="#">>>  <p>Out Team</p></a>
                            <a href="#">>>  <p>Blog & News</p></a>
                            <a href="#">>>  <p>FAQ’s</p></a> 
                        </div>     
                    </div>
                    <div class="footer-blk footer-blk-03">
                        <h3>Quick Links</h3>
                        <img src="images/Shah-Dental-line_40.png" alt="">  
                        <div class="icon-list">
                            <a href="#">>>  <p>For Dentists</p></a>
                            <a href="#">>>  <p>Appointments</p></a>
                            <a href="#">>>  <p>Contact Us</p></a>
                            <a href="#">>>  <p>Smile Gallery</p></a>
                            <a href="#">>>  <p>Our Offices</p></a>
                            <a href="#">>>  <p>Patient Check-in</p></a> 
                        </div>     
                    </div>
                    <div class="footer-blk footer-blk-04">
                        <h3>Contact Us</h3>
                        <img src="images/Shah-Dental-line_40.png" alt="">  
                        <div class="icon-list">
                            <div class="icon-address">
                                <div class="art-img-box">
                                    <img src="images/Shah-Dental-icon_44.png" alt="">
                                </div>
                                <div class="art-txt-box">
                                    <h4>Call Us :</h4>
                                    <a href="tel:717-737-4337">717-737-4337</a>
                                </div>
                            </div>
                            <div class="icon-address gap">
                                <div class="art-img-box">
                                    <img src="images/Shah-Dental-icon_47.png" alt="">
                                </div>
                                <div class="art-txt-box">
                                    <h4>Email :</h4>
                                    <a href="mailto:Info@gmail.com">Info@gmail.com</a>
                                </div>
                            </div>
                            <div class="icon-address">
                                <div class="art-img-box">
                                    <img src="images/Shah-Dental-icon_50.png" alt="">
                                </div>
                                <div class="art-txt-box">
                                    <h4>Location :</h4>
                                    <a href="#">3920 Market Street, Camp  Hill, PA 17011 Make an  Appointment</a> 
                                </div>
                            </div>   
                        </div>     
                    </div>
                </div>     
            </div>
        </div>
    </div>
    <div id="soct-cout-main" class="main-section">
        <div class="container">
            <div class="soct-txt-blk all-txt-blk">
                <div class="soct-cout">
                    <div class="site-map">           
                        <a href="#">Sitemap</a>
                        <p>|</p>
                        <a href="#">Privacy Policy</a>
                    </div>
                    <div class="privacy">
                        <p>© 2023 Shah Dental Clinic, PC. All Rights Reserved. | 3920 Market St. Camp Hill, PA 17011</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->

    <!-- body -->



    <script>
        let currentIndex = 0;
    
        function proshowSlide(index) {
          const slider = document.querySelector('.product-slider');
          const slideWidth = document.querySelector('.product-item').offsetWidth; // Adjusted for one item
          currentIndex = index;
          const transformValue = -index * slideWidth + 'px';
          slider.style.transform = 'translateX(' + transformValue + ')';
        }
    
        function prevSlide() {
          currentIndex = (currentIndex - 1 + 1) % 3; // 1 is the total number of slides
          proshowSlide(currentIndex);
        }
    
        function nextSlide() {
          currentIndex = (currentIndex + 1) % 3; // 1 is the total number of slides
          proshowSlide(currentIndex);
        }
    </script>
    


</body>
</html>